<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link href='https://fonts.googleapis.com/css?family=Permanent Marker' rel='stylesheet'> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    

    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../font/stylesheet.css">
    <link rel="stylesheet" href="../carousel/style.css">
    <link rel="stylesheet" href="../css/hamberger.css">

     
    
    
    <!-- <link rel="icon" href=""> -->
    <link rel="icon" href="../static files/UDGAM logo (title).png" type="image/icon type">
    <!-- link for font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />



  <!-- link for font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

	<title>Password Reset</title>
</head>
<body >

         <!-- navbar -->
  
        <div class="stars"></div>
        <div class="twinkling"></div>
        <div class="clouds"></div>

        <div class="main">
            <% if(flag == 1){ %>
                <p>Some error occured</p>

              <% }else if(flag == 2){ %>
                
                <p>New password != confirm password</p>
               
                <% }else if(flag == 3){ %>

                    <p>Password key is incorrect</p>
                    <%}%>
            <div class="row align-items-center justify-content-start">



                        <div class="col-3 d-md-none"></div>
                        <div class="col-md-5 col-6 ProfilePic" id="astronaut_cont" style="position: relative; box-sizing: border-box;">
                            <!-- <div id="astronaut" style="position: abosulute; height:100%; width:100%;"></div> -->
                        </div>

                      
                        <div id="pass-reset-form" class="col-md-7">
                        <!-- 
                            <p>Reset for 
            
                            </p>
                            <br> -->
            
                            <form method = "POST" action = "passwordResetDone" >
                                <div class="form-row row justify-content-end">
                                    <label class="col-sm-12 col-md-10" for="email">Enter Email</label>
                                    <input class="col-sm-12 col-md-10" type = "email" oninput="handleInput(event)" value= "<%= email%>" name = "email" id = "email" readonly/>
                                    <div class="icons email-check-icons align-self-center footer-mail-icon">
                                        <i class='check-icon bx bxs-check-circle check' ></i>
                                        <i class='check-icon bx bxs-x-circle x' ></i>
                                      </div>
                                    <br><br>
                                    
                                
                                    <label class="col-sm-12 col-md-10" for="pkey">Enter Secret key</label>
                                    <input class="col-sm-12 col-md-10" type = "text" placeholder = "Your Secret Key" name = "pkey" id = "pkey" required/><br><br>
                                
                                    <label class="col-sm-12 col-md-10" for="npass">Enter New Password</label>                
                                    <input class="col-sm-12 col-md-10" type = "password" placeholder = "New Password" name = "npass" id = "npass" required/><br><br>
                                    
                                    <label class="col-sm-12 col-md-10" for="cnpass">Confirm New Password</label>                
                                    <input class="col-sm-12 col-md-10" type = "password" placeholder = "Confirm New Password" name = "cnpass" id = "cnpass" required/><br><br>
    
                                    <button type="submit"  class="col-sm-12 col-md-10" style="background: transparent !important; border: solid 1px white !important;font-size: 1.5em !important;line-height: 1.7em !important;">Confirm</button>
    
    
                                </div>
            
                            </form>
            
                            
                        </div>

            </div>
        </div>


        <!-- <div class="main" style="padding-left: 10vw;padding-right: 10vw;">

            <p>Reset for <%= email%></p>
            <br>

            <form method = "POST" action = "passwordResetDone" >
                <div class="row justify-content-center modal-text">
                    <label for="email">Enter Email</label>
                    <input type = "text" value= "<%= email%>" name = "email" id = "email" readonly/><br><br>
                </div>
                <div class="row justify-content-center modal-text">
                    <label for="pkey">Enter Secret key</label>
                    <input type = "text" placeholder = "Your Secret Key" name = "pkey" id = "pkey" required/><br><br>
                </div>
                <div class="row justify-content-center modal-text">
                    <label for="npass">Enter New Password</label>                
                <input type = "password" placeholder = "New Password" name = "npass" id = "npass" required/><br><br>
                </div>
                <div class="row justify-content-center modal-text">
                    
                    <label for="">Confirm</label>
                    <input type = "submit" value = "Confirm">
                </div>

            </form>
    
        </div> -->
    
     <!-- footer -->
     <%- include("./partials/footer.ejs") %>

    <!-- message on inactive tab -->
    <%- include("./partials/inactive-tab-message.ejs") %>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <script src="../js/hamberger.js"></script>

          
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="module" src="../js/astronaut.js"></script>



     <!-- three.js -->
     <script src="../js/three.js"></script>

     <script type="module" src="../js/top_sphere.js"></script>
     
       <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
       integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
       crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
       integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
       crossorigin="anonymous"></script>



    <!-- three.js -->
    <script src="../js/three.js"></script>

    <script type="module" src="../js/top_sphere.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" src="../js/astronaut.js"></script>


    
</body>
</html>
